<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
    </head>

    <body>

        <header>
            <div class="navigation">Navigation</div>
            <div>
                <h1>Natural language processing</h1>
            </div>
        </header>

        <main>
            <section>
                <div>
                    <h1>Article Evaluator</h1>
                    <h2>Evaluate a <span>News Article</span> with NLP</h2>
                </div>
                <form class="" onsubmit="return client.handleSubmit(event)">
                    <input id="name" type="text" name="input" value="" placeholder="Please enter your URL">
                    <p id="error"></p>
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            <section>

            <section id="table">
                <div><strong>Form Results:</strong></div>
                <div id="agreement"></div>
                <div id="confidence"></div>
                <div id="irony"></div>
                <div id="message"></div>
                <div id="model"></div>
                <div id="score_tag"></div>
            </section>
        </main>

        <footer>
            <p>Abduvohidov Azamat. 2023</p>
        </footer>
     
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js').then(registration =>{
                        console.log('SW registered successfuly: ', registration);
                    });
                });
                }else{
                console.log("Service Working not supported");
                    }
        </script>
        
    </body>
</html>
