body {
    display: flex;
    flex-direction: column;
    background-color: #5d8aa8;
    min-height: 100vh;
    color: #3b444b;
}

main {
    flex: 2;
}

section {
    max-width: 800px;
    margin: 50px auto;
}

section div {
    background-color: #f0f8ff;
    text-align: center;
    padding: 20px 0;
}

section #results {
    background-color: #f0f8ff;
    text-align: center;
}

section #table:not(:first-child) {
    text-align: start;
    margin: 2px 0;
    background-color: #3890cb;
}
