form {
    border: 1px solid #f0f8ff;
    border-radius: 5px;
    padding: 40px;
}

input {
    background-color: #f0f8ff;
    padding: 5px 20px;
    width: 100%;
    line-height: 16px;
    margin: 10px 0;
}
